.elements {
  display: grid;
  gap: 16px;
}

.container {
  display: flex;
  align-items: center;
}

.elementShrink {
  width: 536px;
  height: 95%;
}


.element {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto;
  justify-content: end;
  align-items: center;
  }

.element_name {
  max-width: 240px;
}

.element_image {
  max-width: 80px;
  max-height: 40px;
}

.constructor_total {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  justify-content: flex-end;
}

.icon_midstuff{
  max-width: 36px;
  max-height: 36px;
}

.elements_midstuff {
  height: calc(100vh - 604px);
  display: grid;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

.elements_midstuff::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-scrollbar);
}

.elements_midstuff::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
}
