.element {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.topOrderElement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.middleOrderElement {
  padding-left: 0;
  contain-intrinsic-height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.elementShrink {
  width: min(100%, 530px);
}

@media screen and (max-width: 1279px) {
  .elementShrink {
    max-width: 500px;
  }
}

@media screen and (max-width: 999px) {
  .element {
    width: 100%;
    grid-template-columns: 24px minmax(0, 1fr);
  }

  .elementShrink {
    width: 100%;
  }
}