.mainContainer {
  margin: 0;
  padding: 0;
}

.mainTitle {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.imageContainer {
  border: none;
}

.boxContainer {
  margin: 32px auto 60px;
  display: grid;
  gap: 8px 20px;
  grid-template-columns: repeat(4, max-content );  
}

.nutritionInfo {
  margin: 0 auto;
}

.caption {
  color: inherit;
  text-decoration: none;
}

.nutritionTable {
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px 8px;
}

.nutritionCell {
  width: 120px;
}


/* ==============  */
