.header {
  padding-left: calc((100vw - 1320px)/2);
  padding-right: calc((100vw - 1320px)/2);
  background-color: var(--color-header);
}
  
.navbar {
  display: flex;  
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.navitem {
  display: flex;  
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  justify-items: center;
  color: #fff;
}

.navitem:active {
  color: #fff;
}


.navitem:first-child {
  color: #fff;
}


.logo {
  height: 40px;
  margin: 8px 289px 8px 112px;
}

.activeMenu {
  color: #f2f2f3;
}
