.card {
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  box-sizing: border-box;
  position: relative;
}

.image {
  padding: 0 16px;
  display: block;
}

.name {
  text-decoration: none;
}

.cost {
  text-decoration: none;
}

.currency {
  text-decoration: none;
}

.costContainer {
  display: flex;
  gap: 8px;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}
